.mat-toolbar.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.coach-info {
	flex-grow: 1;
}

button {
	margin-left: 8px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.align {
	align-self: center;
}

.example-spacer {
	flex-grow: 1;
}

@media (max-width: 600px) {
	.example-spacer {
		display: none;
	}
}
